.bounc-boy-launcher-container {
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.bounc-boy-launcher-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.bounc-boy-launcher-navbar {
  width: 100%;
  height: 78px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.bounc-boy-launcher-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.bounc-boy-launcher-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.bounc-boy-launcher-icon {
  width: 36px;
  height: 36px;
}
.bounc-boy-launcher-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.bounc-boy-launcher-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.bounc-boy-launcher-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.bounc-boy-launcher-link2 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.bounc-boy-launcher-right-side {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.bounc-boy-launcher-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.bounc-boy-launcher-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.bounc-boy-launcher-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.bounc-boy-launcher-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bounc-boy-launcher-icon2 {
  width: 24px;
  height: 24px;
}
.bounc-boy-launcher-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bounc-boy-launcher-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.bounc-boy-launcher-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.bounc-boy-launcher-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.bounc-boy-launcher-link6 {
  text-decoration: none;
}
.bounc-boy-launcher-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/cool-background%20%5B1%5D-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.bounc-boy-launcher-content-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.bounc-boy-launcher-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bounc-boy-launcher-heading {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.bounc-boy-launcher-text {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.bounc-boy-launcher-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.bounc-boy-launcher-heading1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.bounc-boy-launcher-text09 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.bounc-boy-launcher-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.bounc-boy-launcher-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.bounc-boy-launcher-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.bounc-boy-launcher-link7 {
  display: contents;
}
.bounc-boy-launcher-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  text-decoration: none;
}
.bounc-boy-launcher-icon4 {
  width: 24px;
  height: 24px;
}
.bounc-boy-launcher-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.bounc-boy-launcher-icon6 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .bounc-boy-launcher-hero {
    flex-direction: column-reverse;
  }
  .bounc-boy-launcher-content-container {
    flex-direction: column-reverse;
  }
  .bounc-boy-launcher-hero-text {
    width: 80%;
  }
}
@media(max-width: 767px) {
  .bounc-boy-launcher-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .bounc-boy-launcher-icon {
    fill: var(--dl-color-gray-white);
  }
  .bounc-boy-launcher-links-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .bounc-boy-launcher-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .bounc-boy-launcher-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .bounc-boy-launcher-hero-text {
    width: 100%;
  }
  .bounc-boy-launcher-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
