.server-page-container {
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.server-page-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.server-page-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.server-page-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.server-page-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.server-page-icon {
  width: 36px;
  height: 36px;
}
.server-page-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.server-page-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.server-page-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.server-page-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.server-page-link2 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.server-page-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.server-page-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.server-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.server-page-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.server-page-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.server-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.server-page-icon2 {
  width: 24px;
  height: 24px;
}
.server-page-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.server-page-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.server-page-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.server-page-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.server-page-link6 {
  text-decoration: none;
}
.server-page-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/cool-background-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.server-page-content-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.server-page-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.server-page-heading {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.server-page-text {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.server-page-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.server-page-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.server-page-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.server-page-link7 {
  display: contents;
}
.server-page-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  text-decoration: none;
}
.server-page-icon4 {
  width: 24px;
  height: 24px;
}
.server-page-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.server-page-icon6 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .server-page-hero {
    flex-direction: column-reverse;
  }
  .server-page-content-container {
    flex-direction: column-reverse;
  }
  .server-page-hero-text {
    width: 80%;
  }
}
@media(max-width: 767px) {
  .server-page-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .server-page-icon {
    fill: var(--dl-color-gray-white);
  }
  .server-page-links-container {
    display: none;
  }
  .server-page-links-container1 {
    display: none;
  }
}
@media(max-width: 479px) {
  .server-page-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .server-page-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .server-page-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .server-page-hero-text {
    width: 100%;
  }
}
